apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
        - name: orders
          image: ganeshsurna/orders:latest
          env:
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret  # created by ------> kubectl create secret generic jwt-secret --from-literal=JWT_KEY=my-jwt-secret-key
                  key: JWT_KEY
            - name: MONGODB_URI
              value: 'mongodb://orders-mongo-srv:27017/orders' # orders db 
            - name: RABBITMQ_URL
              value: "amqps://yphsoosm:tyyM3r8PzRlzRDxjoJxod2HNU64_tQfB@fuji.lmq.cloudamqp.com/yphsoosm"
              # value: "amqp://rabbitmq-srv:5672"
---
apiVersion: v1
kind: Service
metadata:
  name: orders-srv
spec:
  type: ClusterIP
  selector:
    app: orders
  ports:
    - name: orders
      protocol: TCP
      port: 3000
      targetPort: 3000