apiVersion: apps/v1
kind: Deployment
metadata:
  name: tickets-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tickets
  template:
    metadata:
      labels:
        app: tickets
    spec:
      containers:
        - name: tickets
          image: ganeshsurna/tickets:latest
          env:
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret  # created by ------> kubectl create secret generic jwt-secret --from-literal=JWT_KEY=my-jwt-secret-key
                  key: JWT_KEY
            - name: MONGODB_URI
              value: 'mongodb://tickets-mongo-srv:27017/tickets' # tickets db
            - name: RABBITMQ_URL
              value: "amqps://yphsoosm:tyyM3r8PzRlzRDxjoJxod2HNU64_tQfB@fuji.lmq.cloudamqp.com/yphsoosm"
              # value: "amqp://rabbitmq-srv:5672"
---
apiVersion: v1
kind: Service
metadata:
  name: tickets-srv
spec:
  type: ClusterIP
  selector:
    app: tickets
  ports:
    - name: tickets
      protocol: TCP
      port: 3000
      targetPort: 3000